backups:
  path: /opt/backups
  cache: /tmp/dbget_backups

openssl:
  passphrase: xxx

databases:
  lmedi:
    mongo: lmedi_production
  clinic:
    mysql: clinic_production
  test:
    mysql: test

users: ['poy', 'jan']

mysql:
  host: localhost
  port: 3306
  username: root
  password:

mongo:
  host: localhost
  port: 27017
  username: root
  password:
